openapi: '3.1.0'
info:
  title: AurisChat API
  description: |
    Documentação da API do AurisChat. Com ela, sistemas externos (CRMs, ERPs, automações como n8n e Make) leem e escrevem dados da sua conta: conversas, mensagens, contatos, etiquetas e mais.

    # Autenticação: seu token de acesso

    Toda chamada à API precisa de um **token de acesso**. Cada usuário do AurisChat tem o seu próprio token, e a API responde com as mesmas permissões que esse usuário tem no painel.

    ## Onde encontrar o token

    1. Entre no AurisChat com o usuário que a integração vai usar.
    2. Clique na sua foto no canto inferior esquerdo e abra **Configurações do Perfil**.
    3. Role até a seção **Token de acesso** e clique em **Copiar**.

    ## Onde encontrar o ID da conta

    Quase todos os endereços da API começam com `/api/v1/accounts/{account_id}/`. O `account_id` é o número que aparece na barra de endereço do navegador quando você está no painel: em `https://chat.auris.ia.br/app/accounts/12/dashboard`, o ID da conta é `12`.

    ## Como enviar o token

    Envie o token no cabeçalho (header) `api_access_token` de cada requisição. Exemplo, listando as caixas de entrada da conta 12:

    ```bash
    curl https://chat.auris.ia.br/api/v1/accounts/12/inboxes \
      -H "api_access_token: SEU_TOKEN_AQUI"
    ```

    Para enviar dados (criar ou alterar algo), inclua também o cabeçalho `Content-Type: application/json`:

    ```bash
    curl -X POST https://chat.auris.ia.br/api/v1/accounts/12/conversations/345/messages \
      -H "api_access_token: SEU_TOKEN_AQUI" \
      -H "Content-Type: application/json" \
      -d '{"content": "Olá! Sua consulta está confirmada.", "message_type": "outgoing"}'
    ```

    ## O que o token pode fazer

    O token herda o papel do usuário dono dele:

    | Papel do usuário | O que a API permite |
    |---|---|
    | **Agente** | Conversas e mensagens das caixas de entrada das quais ele é membro, contatos e etiquetas. Não altera configurações da conta. |
    | **Gerente** | Tudo o que o agente faz, em todas as caixas de entrada, mais relatórios e configurações de caixas e times. |
    | **Administrador** | Acesso completo à conta, incluindo agentes, integrações e configurações. |

    Dica: crie um usuário específico para cada integração, com o menor papel que resolve o que ela precisa. Assim, as ações da integração ficam identificadas no histórico e fica fácil revogar o acesso sem afetar ninguém.

    ## Boas práticas de segurança

    - **Trate o token como uma senha.** Quem tem o token age em nome do usuário. Não publique em sites, planilhas compartilhadas ou mensagens.
    - **Use o token só no servidor.** Nunca coloque o token em código que roda no navegador ou em aplicativos instalados no celular do cliente.
    - **Trocou de fornecedor ou suspeita de vazamento? Gere um novo token.** Em **Configurações do Perfil → Token de acesso**, clique em **Reiniciar**. O token anterior para de funcionar na hora, então atualize as integrações que usavam ele.
    - **Usuário desativado, token desativado.** Se o usuário for removido da conta, o token dele deixa de ter acesso.

    ## Respostas de erro mais comuns

    | Código | O que significa | O que fazer |
    |---|---|---|
    | `401 Unauthorized` | Token ausente, inválido, reiniciado, ou o usuário não tem permissão para essa ação. | Confira o cabeçalho `api_access_token` e o papel do usuário. |
    | `404 Not Found` | O registro não existe ou não pertence a essa conta. | Confira o `account_id` e o ID do registro. |
    | `422 Unprocessable Entity` | Os dados enviados não passaram na validação. | Leia a mensagem de erro no corpo da resposta. |
    | `429 Too Many Requests` | Muitas requisições em pouco tempo. | Aguarde alguns segundos e tente de novo; espalhe as chamadas ao longo do tempo em vez de enviar tudo de uma vez. |
  version: 1.1.0
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    email: hello@chatwoot.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://chat.auris.ia.br/
    description: Produção
paths:
  $ref: ./paths/index.yml
components:
  schemas:
    $ref: ./definitions/index.yml
  parameters:
    $ref: ./parameters/index.yml
  securitySchemes:
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: Token de acesso pessoal do usuário, copiado em Configurações do Perfil → Token de acesso. Envie no cabeçalho `api_access_token`. A API responde com as mesmas permissões que o usuário tem no painel (agente, gerente ou administrador). Veja a seção "Autenticação" no início desta documentação.
    agentBotApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: This token should be provided by system admin or obtained via rails console. This token can be used to build bot integrations and can only access limited apis.
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: This token can be obtained by the system admin after creating a platformApp. This token should be used to provision agent bots, accounts, users and their roles.
tags:
  - name: Accounts
    description: Account management APIs
  - name: Account Users
    description: Account user management APIs
  - name: Financial
    description: Billing APIs backed by Stripe
  - name: AgentBots
    description: Bot integrations
  - name: Users
    description: User management APIs
  - name: Account AgentBots
    description: Account-specific Agent Bots
  - name: Agents
    description: Agent management APIs
  - name: Canned Responses
    description: Pre-defined responses for common queries
  - name: Contacts
    description: Contact management APIs
  - name: Contact Labels
    description: Manage contact labels
  - name: Conversation Assignments
    description: Manage conversation assignments
  - name: Conversation Labels
    description: Manage conversation labels
  - name: Conversations
    description: Conversation management APIs
  - name: Custom Attributes
    description: Custom fields for contacts and conversations
  - name: Custom Filters
    description: Saved filters for conversations
  - name: Funnel
    description: Kanban-style conversation funnel — stages, board view and audit trail
  - name: Inboxes
    description: Communication channels setup
  - name: Integrations
    description: Third-party integrations
  - name: Labels
    description: Account label management APIs
  - name: Messages
    description: Message management APIs
  - name: Scheduled Messages
    description: Scheduled message management APIs
  - name: Profile
    description: User profile APIs
  - name: Languages
    description: Install-wide language catalog for contacts
  - name: Reports
    description: Analytics and reporting APIs
  - name: Teams
    description: Team management APIs
  - name: Webhooks
    description: Event notification webhooks
  - name: Automation Rule
    description: Workflow automation rules
  - name: Help Center
    description: Knowledge base management
  - name: Contacts API
    description: Public contact APIs
  - name: Conversations API
    description: Public conversation APIs
  - name: Messages API
    description: Public message APIs
  - name: Internal Chat Categories
    description: Internal chat category management APIs
  - name: Internal Chat Channels
    description: Internal chat channel management APIs
  - name: Internal Chat Channel Members
    description: Internal chat channel member management APIs
  - name: Internal Chat Messages
    description: Internal chat message management APIs
  - name: Internal Chat Reactions
    description: Internal chat reaction management APIs
  - name: Internal Chat Polls
    description: Internal chat poll management APIs
  - name: Internal Chat Drafts
    description: Internal chat draft management APIs
  - name: Internal Chat Search
    description: Internal chat search APIs
  - name: CSAT Survey Page
    description: Customer satisfaction survey
x-tagGroups:
  - name: Platform
    tags:
      - Accounts
      - Account Users
      - AgentBots
      - Users
      - Financial
  - name: Application
    tags:
      - Account AgentBots
      - Account
      - Agents
      - Audit Logs
      - Canned Responses
      - Contacts
      - Contact Labels
      - Conversation Assignments
      - Conversation Labels
      - Conversations
      - Custom Attributes
      - Custom Filters
      - Funnel
      - Inboxes
      - Integrations
      - Labels
      - Messages
      - Scheduled Messages
      - Profile
      - Languages
      - Reports
      - Teams
      - Webhooks
      - Automation Rule
      - Help Center
      - Internal Chat Categories
      - Internal Chat Channels
      - Internal Chat Channel Members
      - Internal Chat Messages
      - Internal Chat Reactions
      - Internal Chat Polls
      - Internal Chat Drafts
      - Internal Chat Search
  - name: Client
    tags:
      - Contacts API
      - Conversations API
      - Messages API
  - name: Others
    tags:
      - CSAT Survey Page
